.images { background-color: blue;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1px;
}

img .images {

size:  1px;

justify-content: space-between;
margin: 1cap;

display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1px;

}

/*.up { width: 5%;
height: 5%;
size;}

.coca {
     width: 5%;
        height: 5%;
}
.fristi {
     width: 5%;
        height: 5%;
}
.pepsi { width: 5%;
    height: 5%;}

.orangina { width: 5%;
    height: 5%;}

.iceatea { width: 5%;
    height: 5%;}*/